.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* data fetch styling */ 

body{
  background-color: black;
}
.card{
  border : solid white 2px;
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}
.card h3{
  margin: 0px;
  color:  white;
}
.card h4{
  margin: 0px;
  padding-top: 4px;
  padding-left: 4px;
  color: red;
}
.close{
  display: flex;
  flex-direction: row;
}
.main h1{
  text-align: center;
  color:  white;
  padding-top: 20px;
}
.mains{
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 30px;
  justify-content: center;
  padding: 20px 20px 20px 20px;
}
.card1{
  border : solid white 2px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}
.card1 h3{
  margin: 0px;
  color:  white;
}
.card1 h4{
  margin: 0px;
  padding-top: 4px;
  padding-left: 4px;
  color: red;
}
